/*Common CSS Starts*/
*{
	margin: 0px;
}
body{
	font-family: sans-serif;
}
/*Common CSS Ends*/

/*Header CSS Starts*/

.quickheader{
	padding:  0;
	}
.quickwrapper{
	margin: 0px auto;
	width: 85%;
	overflow: hidden;
		}
.logo{
	width: 10%;
	float: left;
	}
.logo img{
	width: 80%;
    padding: 10px 0px;
}
.menu{
	width: 55%;
	float: right;
	margin-top:;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style:none;
	float: left;
	}
.menu ul li a {
	text-decoration: none;
	padding: 20px 20px;
	display: inline-block;
	color:#0F2656;
}
/*.menu ul li a:hover{
	color: blue;
}*/
.menu ul li:last-child a {
	padding-right: 0;
}

/*Header Ends*/
/*Banner Starts*/
.banner{
}
.bannerwrapper{
	width: 65%;
	margin: 0 auto;
	padding: 10px 0;
}
.bannercontent{
	text-align: center;
	color: #0A2152;
	margin-top: 80px;
}
.bannerh1{
	font-size: 53px;
    line-height: 61px;
}
.banner_span{
	color: #0084FF;
}
.bannerp{
	margin: 0px;
	font-size: 16px;
	line-height: 26px;
}
.bannerimage img{
	width: 65%;
	transition: 3s;
}
.bannerimage img:hover{
	transform: scale(0.8);

}
/*Banner Ends*/
/*About Starts*/
.aboutcontent{
overflow: hidden;
color: #2E2656;
}
.aboutheader{
    width: 40%;
    float: left;
    text-align: right;
    padding: 0px 1px 0px 78px;
    /* padding-left: 50px; */
    margin: 0px;
}
.aboutheader h2{
	margin: 0px;
	color: #F05263;
	font-size: 45px;
}
.aboutheader p{
	line-height: :20px;
}
.aboutproject{
	width: 40%;
    float: right;
    color: #2E2656;
    padding: 0px 74px 0px 0px;
}
.aboutproject h1{
	   font-size: 40px;
	}

/*About Ends*/
/*Service Starts*/
.service{
		margin-top: 70px;
}
.serviceimages{
    width: 28%;
    padding: 50px 20px;
    color: #0F2656;
    float: left;
    margin-right: 28px;
}
.pink{
	background-color: #FDEBED;
}
.blue{
	background-color: #EBF9F4;
}
.ltpink{
	background-color: #FFF7E8;
}
.serviceimage1{
}
.serviceimage1 img{
	width: 100%;
}
.serviceimages:last-child{
	margin-right: 0px;
}
.servicecontent{
	overflow: hidden;
    width: 100%;
}
.serviceh1{
margin: 15px 0px;
}
.servicep{
    line-height: 25px;
    font-size: 18px;
}
/*Service Ends*/
.footertext{
	background-color: #008AFF;
	text-align: center;
	padding: 30px 0px;
	margin-top: 60px;
	color: #9ec7ff;
}
.footsec{
	color: white;
	font-weight: bold;
	letter-spacing: 4px;
}
